@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Protest Strike", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  overflow-x: hidden;
}
